[submodule "Src/Kernel/jupyter-core"]
	path = Src/Kernel/jupyter-core
	url = git@github.com:VUISIS/jupyter-core.git
	branch = arm
[submodule "Src/Kernel/FormulaPy/formula/SelfRepairLLM"]
	path = Src/Kernel/FormulaPy/formula/SelfRepairLLM
	url = https://github.com/VUISIS/FormulaSelfRepairLLM
